.banner {
  background-size: cover;
  background-color: var(--color-light-primary);
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.title {
  color: var(--color-white);
}
