.banner {
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: right;
}


@media only screen and (min-width: 25em) {


}

@media only screen and (min-width: 38em) {


}

@media only screen and (min-width: 60em) {


}
