
.banner {
  overflow: hidden;
  position: relative;
  max-height: 800px;
}

.card-banner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1em;
}

@media only screen and (min-width: 25em) {

h1 {
  padding-top: 1em;
  transition: .5s;
}

}

@media only screen and (min-width: 38em) {

  h1 {
    padding-top: 2em;
  }

}

@media only screen and (min-width: 60em) {


}
