
.banner {
  overflow: hidden;
  position: relative;
  max-height: 800px;
}


.card-banner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1em;
}

@media only screen and (min-width: 25em) {

.banner h2 {
  font-size: 1.5em;
}

.card-banner {
  position: absolute;
  top: 30%;
}

}

@media only screen and (min-width: 38em) {

  .banner h2 {
    font-size: 2em;
  }

}

@media only screen and (min-width: 60em) {

  .banner h2 {
    font-size: 3em;
    padding-bottom: .2em;
  }

  .card-banner {
    position: absolute;
    top: 20%;
  }

}

@media only screen and (min-width: 90em) {

  .banner h2 {
    font-size: 4em;
  }

}
