.card {
  border: transparent;
  border-radius: 0;
  transition-duration: .25s;
  width: 100%;
}

.cards {
  background-color: #e0e0e0;
}

.card-icon {
  background-color: #ccc;
  border-radius: 8px;
}

.s-1 {
  align-items: center;
  text-align: center;
}

.card:hover {
  border: transparent;
}

.card-adoption {
  background-color: var(--color-primary-light);
  border-radius: 8px;
}
