.card {
  border: transparent;
  border-radius: 0;
  transition-duration: .25s;
  width: 100%;
}

.cards {
  background-color: var(--color-grey-light);
}

.card-icon {
  background-color: var(--color-grey-light);
  border-radius: 8px;
}

.card-adoption .s-1 {
  align-items: center;
  text-align: center;
}

.card:hover {
  border: transparent;
}

.card-adoption {
  background-color: var(--color-grey-light);
  border-radius: 8px;
}

.dog {
  width: 70%;
}
