.card {
  border: 4px solid var(--color-primary-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  transition: .3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.bone {
  visibility: hidden;
}

.card:hover .bone {
  visibility: visible;
}
