footer {
  background-color: var(--color-primary);
  color: var(--color-white);
}

footer h3 {
  color: var(--color-white);
}

a {
  text-decoration: none;
}

footer ul {
  border-top: 2px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
}
