nav a {
  transition-duration: .75s;
  transition-timing-function: linear;
  float: right;
  min-width: 50%;
}

nav li {
  display: inline-block;
}

.nav-check:checked ~ .navi {
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  h1 {
    padding-left: 10px;
  }

}
