li {
  list-style-type: none;
  display: inline-block;
}

@media only screen and (min-width: 25em) {

  ul li {
    text-align:right;
  }

  .s-1 {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  ul li {
    display: inline-block;
  }

  .s-1 {
    text-align: left;
  }

}
