nav a {
  transition-duration: .75s;
  transition-timing-function: linear;
}

.nav {
  display: none;
}

.nav-check:checked ~ .navi {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-open {
  padding-bottom: 90px;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 25px;
  position: absolute;
  right: 5px;
  top: 17px;
}

.nav-label:hover {
  width: 30px;
}

.nav-check:checked ~ .nav-label {
  background-color: rgba(255, 255, 255, .5);
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-check:checked ~ .nav {
  display: block;
}

@media only screen and (min-width: 38em) {


.navi {
  display: block;
}

  .nav-label, .nav-check, .nav-open, .nav-close {
    display: none;
  }

  .nav {
    display: block;
  }

}
