


.section-form {
  display: none;
  border-top: 1px solid #ddd;
}


label {
  display: inline-block;
  text-align: center;
}


.label-1 {
  border-top: 1px solid transparent;
}


label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  border-top: 3px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.styled-checkbox:hover {
  color: var(--color-primary);
  border-top: 3px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.select-arrow {
  display: block;
  width: 100%;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - .1em) center;
  background-size: 18px auto;
}

.select-form {
  border-bottom: 2px solid var(--color-grey-light);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.select-form-full {
  border: 2px solid var(--color-grey-light);
}

.select-form-side {
  border-bottom: 2px solid var(--color-grey-light);
  border-top: 2px solid transparent;
  border-right: 2px solid var(--color-grey-light);
  border-left: 2px solid transparent;
}

.label-title {
  color: var(--color-regular);
}


.section-card {
  border: 4px solid var(--color-grey-light);
  background-color: var(--color-white);
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #fff;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated select:invalid + .error-message,
.is-validated label:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

input {
  border-color: var(--color-primary-light);
}

textarea {
  border-color: var(--color-primary-light);
}

input[type="radio"] + label::before {
  border-color: var(--color-grey-light);
}

input[type="radio"]:checked + label::before {
  background-image: url("");
  background-color: var(--color-primary-light);

}

.form-application {
  background-color: var(--color-white);
}
