html {
  font-family: sans-serif;
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #fff;
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated select:invalid + .error-message,
.is-validated label:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

input {
  border-color: var(--color-primary-light);
}

textarea {
  border-color: var(--color-primary-light);
}

select {
  border-color: var(--color-primary-light);
}

input[type="radio"] + label::before {
  border-color: var(--color-primary-light);
}

input[type="radio"]:checked + label::before {
  background-image: url("");
  background-color: var(--color-primary-light);
}
