.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: var(--color-white);
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-accent);

  color: #fff;

  transition-duration: .25s;
}

.btn-light:hover {

  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-accent);

  color: var(--color-primary-light);
}

.btn-navigation {
  background-color: transparent;
  border-color: transparent;

  color: var(--color-primary);
  font-family: var(--font-secondary);

  border-bottom: 1px solid transparent;
}

.btn-navigation:hover {
  background-color: transparent;
  border-color: transparent;

  color: var(--color-accent);
  transition-duration: .25s;
  transition-timing-function: linear;

  border-bottom: 1px solid var(--color-accent);
}

.btn-banner {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: var(--color-white);
  transition-duration: .25s;
  transition-timing-function: linear;
  border-top: transparent;
  border-bottom: transparent;
  border-radius: 10px;
}

.btn-banner:hover {
  background-color: transparent;
  border-color: var(--color-secondary);
  border-top: transparent;
  border-bottom: transparent;

  color: var(--color-secondary);
}

.btn-card {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: var(--color-white);
  transition-duration: .25s;
  transition-timing-function: linear;
}

.btn-card:hover {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}
