.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn-light:hover {

  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary-light);
}
