.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  color: #fff;
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);

  color: #fff;
}

.btn-light:hover {

  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary-light);
}

.btn-header {
  background-color: transparent;
  border-color: transparent;

  color: var(--color-primary);
  font-family: var(--font-secondary);

  border-bottom: none;
}

.btn-header:hover {
  background-color: transparent;
  border-color: transparent;

  color: var(--color-primary-light);
  transition-duration: .25s;
  transition-timing-function: linear;

  border-bottom: 1px solid var(--color-primary-light);
}

.btn-banner {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: var(--color-white);
  transition-duration: .25s;
  transition-timing-function: linear;
}

.btn-banner:hover {
  background-color: transparent;
  border-color: var(--color-primary-light);

  color: var(--color-primary-light);
}

.btn-card {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  font-family: var(--font-secondary);

  color: var(--color-white);
  transition-duration: .25s;
  transition-timing-function: linear;
}

.btn-card:hover {
  background-color: transparent;
  border-color: var(--color-primary);

  color: var(--color-primary);
}
