:root {
  --color-primary: #d99728;
  --color-primary-light: #fdba18;
  --color-regular: #686868;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light: #efefef;

  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "Amaranth", sans-serif;

}

html {
  font-family: var(--font-primary);
  color: var(--color-regular);
}

h1, h2 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h3, h4, h5, h6 {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}

a {
  color: var(--color-regular);
  font-family: var(--font-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
  font-family: var(--font-primary);
}


em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  font-family: var(--font-secondary);
}
