:root {
  --color-primary: #283475;
  --color-primary-light: #e3dccc;
  --color-secondary: #a3b5ca;
  --color-regular: #000;
  --color-white: #fff;

  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "Amaranth", sans-serif;

}

html {
  font-family: var(--font-primary);
  color: var(--color-regular);
}

h1, h2, h3 {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

h4, h5, h6 {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
}

a {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
}

em, strong, del, ins, abbr, dfn, i, b, mark, q, s, u {
  font-family: var(--font-secondary);
}
