.parallax {
    background-image: url("../../images/dog-8.jpg");

    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    background-image: url("../../images/dog-parallex.jpg");

    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

figure {
  margin: 0;
  background-color: var(--color-grey-light);
  position: relative;
}

.happy img {
  width: 70%;
}

.happy {
  background-color: var(--color-grey-light);
}

figcaption {
  padding: 1em;
}

.dogs {
  width: 50%;
}

/* Adoption page */

.adopt-title {
  position: absolute;
  color: var(--color-grey-light);
  width: 100%;
  left: 0;
  top: 100px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  font-size: 3em;
}

select {
  border: 2px solid transparent;
}

.select-arrow {
  display: block;
  width: 100%;
  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - .1em) center;
  background-size: 18px auto;
}

.label-title {
  color: var(--color-regular);
}

.label {
  border-right: 2px solid var(--color-grey-light);
  color: var(--color-primary);
}

.section-card {
  border: 4px solid var(--color-grey-light);
  background-color: var(--color-grey-light);
}
/* End Adoption page */


.carousel-items > div {
  display: none;

}

#arsinoitherium-control:checked ~ .carousel-inner #arsinoitherium,
#elasmotherium-control:checked ~ .carousel-inner #elasmotherium,
#glyptodon-control:checked ~ .carousel-inner #glyptodon,
#megatherium-control:checked ~ .carousel-inner #megatherium {
  display: block;
}

.carousel-btn {
  border: 2px solid var(--color-primary-light);
  color: var(--color-accent);
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}


#arsinoitherium-control:checked ~ .carousel-inner [for="arsinoitherium-control"],
#elasmotherium-control:checked ~ .carousel-inner [for="elasmotherium-control"],
#glyptodon-control:checked ~ .carousel-inner [for="glyptodon-control"],
#megatherium-control:checked ~ .carousel-inner [for="megatherium-control"] {
  background-color: var(--color-primary-light);
}



@media only screen and (min-width: 25em) {

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 20rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 8px;
  }

  .adopt-title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 320px) {

  .parallax-1 {
    background-attachment: scroll;
    height: 200px;
  }

  .parallax {
    background-attachment: scroll;
  }

}

@media only screen and (min-width: 38em) {

  .adopt-title {
    font-size: 3em;
    left: 0;
    top: 300px;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }

  .parallax {
      background-image: url("../../images/dog-8.jpg");

      height: 300px;

      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .parallax-1 {
    background-image: url("../../images/dog-parallex.jpg");

    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .imgage-small {
    display: none;
  }


}

@media only screen and (min-width: 60em) {


}

@media only screen and (min-width: 90em) {


}
